<!DOCTYPE HTML>
<html>
  <head>
    <title>项目大厅</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/mySelf.css">
  </head>
  
 <body>
 	<div class="index-header-bar">
		<div class="bar-box clearfix">
			<i class="arrow"></i>
			<div class="pull-left">
				任务分解平台网站 | 靠谱的平台 
			</div>
			<div class="pull-right mr20">
				<span class="pull-left">欢迎您，</span>
				<div id="noLogin" class="pull-left">	
					<a class="blue mr10" href="../loginRegister/login.html">请登录</a>
					<a class="orange" href="../loginRegister/register.html">免费注册</a>	
				</div>
				<div id="logined" class="pull-left">	
					<div class="index-header-uname">用户名username<i class="glyphicon glyphicon-chevron-down ml10"></i></div>
					<ul class="user-drop">
						<li>
							<a href="../userCenter/userBasicInfo.html"><i class="glyphicon glyphicon-user mr10"></i>个人中心</a>
						</li>
						<li>
							<a href="../financialCenter/cardManage.html"><i class="glyphicon glyphicon-yen mr10"></i>财务中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-bullhorn mr10"></i>推广中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-tasks mr10"></i>任务中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-log-out mr10"></i>退出登录</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="index-header">
		<div class="i-main clearfix">
			<img src="../../images/login_logo.png">
			<div class="i-search">
				<input class="" type="text" placeholder="搜索项目任务，输入关键字">
				<button  type="button" ><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>
	<div class="index-header-nav clearfix">
		<div class="nav-box">
			<i class="arrow"></i>
			<ul class="ih-nav clearfix">
				<li>
					<a href="../index.html">主页</a>
				</li>
				<li  class="active">
					<a href="../projectCenter/projectList.html">项目大厅</a>
				</li>
				<li>
					<a href="../system/newsCenter.html">资讯中心</a>
				</li>
				<li>
					<a href="#">帮助中心</a>
				</li>
				<li>
					<a href="#">关于我们</a>
				</li>
			</ul>
		</div>
	</div>
 	<div class="pD-bg">
 		<ul class="pD-breadcrumbs clearfix">
			<li>
				<a href="#">项目大厅</a>
			</li>
			<li>
				项目详情
			</li>
 		</li>
 	</div>
 	<div class="pD-wrap">
		<div class="pD-main-basic clearfix">
			<div class="pD-mb-part1">
				<h3>网站定制开发<span class="label label-success">申领中</span></h3>
				<ul class="pD-basic-info">
					<li>
						<label>项目类型：</label>
						<div class="info-R">
							网站开发
						</div>
					</li>
					<li>
						<label>发布时间：</label>
						<div class="info-R">
							2017-11-30
						</div>
					</li>
					<li>
						<label>技能标签：</label>
						<div class="info-R clearfix">
							<span class="skill-tag">Java</span>
							<span class="skill-tag">html</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="pD-mb-part2">
				<div class="data-item">
					<h6>项目预算</h6>
					<p>20000元</p>
				</div>
				<div class="data-item">
					<button type="button" class="btn btn-block pD-apply-btn">申领项目</button>
				</div>
				<ul class="pD-mb-opt clearfix">
					<li>
						<i class="glyphicon glyphicon-eye-open"></i>1
					</li>
					<li class="on">
						<a href="javascript:;"><i class="glyphicon glyphicon-heart-empty"></i>已收藏</a>
					</li>
				</ul>
			</div>
		</div>
		<h4 class="pD-sum-tit">项目描述：</h4>
		<div class="pD-des-content">
			一、要完成的功能： <br> 
			1、登录、账号管理，角色的业务权限分配； <br> 
			2、内部的通讯录系统呈现、编辑； <br> 
			3、设计稿已经有了，负责WEB前端界面的构建，各类交互设计与实现； <br> 
			二、其他需求：<br>
			1、人员最好在杭州<br> 
			2、熟悉前端自动化和工程化；<br> 
			3、有Java后端开发经验者优先；<br> 
			4、有前端开发经验3年以上优先。<br> 
		</div>
		<h4 class="pD-sum-tit">项目附件：</h4>
		<ul class="pD-file-download">
			<li>
				<a href="#"><i class="glyphicon glyphicon-paperclip mr10"></i>附件1</a>
			</li><li>
				<a href="#"><i class="glyphicon glyphicon-paperclip mr10"></i>附件2</a>
			</li>
		</ul>
		<h4 class="pD-sum-tit">项目子任务：</h4>
		<div class="pD-subtask-search">
			<dl class="pD-search-dl selected">
				<dt><span style="letter-spacing: 0.5em">已选</span>择：</dt>
				<dd class="clearfix">
					<a href="#">后台<i class="remove-icon">×</i></a>
					<a href="#">申领中<i class="remove-icon">×</i></a>
					<a href="#" class="remove-all">清空筛选</a>
				</dd>
			</dl>
			<dl class="pD-search-dl">
				<dt>任务类型：</dt>
				<dd class="clearfix">
					<a class="on" href="#">后台</a>
					<a href="#">前台</a>
					<a href="#">其它</a>
				</dd>
			</dl>
			
			<dl class="pD-search-dl">
				<dt>任务预算：</dt>
				<dd class="clearfix">
					<a class="on" href="#">1千以下</a>
					<a href="#">1千~5千</a>
					<a href="#">5千~1万</a>
					<a href="#">1万~5万</a>
					<a href="#">5万~10万</a>
					<a href="#">10万以上</a>
					<a href="#">待商议</a>
				</dd>
			</dl>
			<dl class="pD-search-dl">
				<dt>技能标签：</dt>
				<dd class="clearfix">
					<a class="on" href="#">java</a>
					<a href="#">html</a>
					<a href="#">PHP</a>
					<a href="#">javascript</a>
					<a href="#">bootstrap</a>
					<a href="#">vue</a>
					<a href="#">ios</a>
				</dd>
			</dl>
			<dl class="pD-search-dl ">
				<dt>发布时间：</dt>
				<dd class="clearfix">
					<input type="text" class="form-control" placeholder="开始时间">
					<span class="only-text">-</span>
					<input type="text" class="form-control" placeholder="结束时间">
				</dd>
			</dl>
			<dl class="pD-search-dl pt10">
				<dt>任务名称：</dt>
				<dd class="clearfix">
					<input type="text" class="form-control" placeholder="任务名称关键字">
					<button class="btn btn-primary ml20">搜索</button>
				</dd>
			</dl>
		</div>
		<ul class="pD-subtask-list clearfix">
			<li>
				<div class="state apply">申领中</div>
				<a href="project_subtaskDetail.html" target="_blank">
					<dl class="pD-subtask-top">
						<dt>后台相关</dt>
						<dd>预算：<span class="red bold">10000</span>元</dd>
						<dd>任务点数：3</dd>
						<dd>截止时间：2017-11-30 12:00:00</dd>
						<dd>技能标签：Java maven</dd>
						<dd class="des">功能概述：实现接口数据实现接口数据实现接口数据实现接口接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据数据</dd>
					</dl>
				</a>
				<div class="pD-subtask-bottom clearfix">
					<a href="javascript:;" class="on"><i class="glyphicon glyphicon-heart-empty"></i>已收藏</a>
					<a href="javascript:;" class="text-blue bold">申领任务</a>
				</div>
			</li>
			<li>
				<div class="state">已完成</div>
				<a href="#">
					<dl class="pD-subtask-top">
						<dt>前台相关</dt>
						<dd>预算：<span class="red bold">5000</span>元</dd>
						<dd>任务点数：3</dd>
						<dd>截止时间：2017-11-30 12:00:00</dd>
						<dd>技能标签：Java html</dd>
						<dd class="des">功能概述：实现接口数据实现接口数据实现接口数据实现接口接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据数据</dd>
					</dl>
				</a>
				<div class="pD-subtask-bottom clearfix">
					<a href="javascript:;" class=""><i class="glyphicon glyphicon-heart-empty"></i>收藏</a>
					<a href="javascript:;" class="pD-applysub-btn disabled">已完成</a>
				</div>
			</li>
			<li>
				<div class="state dev">开发中</div>
				<a href="#">
					<dl class="pD-subtask-top">
						<dt>前台相关</dt>
						<dd>预算：<span class="red bold">5000</span>元</dd>
						<dd>任务点数：3</dd>
						<dd>截止时间：2017-11-30 12:00:00</dd>
						<dd>技能标签：Java html</dd>
						<dd class="des">功能概述：实现接口数据实现接口数据实现接口数据实现接口接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据接口数据实现接口数据数据</dd>
					</dl>
				</a>
				<div class="pD-subtask-bottom clearfix">
					<a href="javascript:;" class=""><i class="glyphicon glyphicon-heart-empty"></i>收藏</a>
					<a href="javascript:;" class="pD-applysub-btn disabled">开发中</a>
				</div>
			</li>
		</ul>
 	</div>
 	
 	<!-- 底部 -->
	<div class="footer">
	    <div class="footer-wrapper clearfix">
	        <div class="logo_and_copyright pull-left">
	            <img src="../../images/login_logo.png">
	            <p>任务分解平台版权所有 2004-2017</p>
	            <p>陕ICP备13002508号-6</p>
	            <p>陕网文[2015]1800-016号</p>
	        </div>
	        <div class="footerlinks pull-left">
	            <h4>帮助中心</h4>
	            <ul>
	                <li><a href="#" target="_blank">平台简介</a></li>
	                <li><a href="#" target="_blank">安全保障</a></li>
	                <li><a href="#" target="_blank">项目管理</a></li>
	            </ul>
	        </div>
	        <div class="footerlinks pull-left">
	            <h4>联系我们</h4>
	            <ul>
	                <li>电话：</li>
	                <li>邮箱：</li>
	                <li>地址：陕西省西安市高新区唐延南路10号中兴产业园I座3层</li>
	            </ul>
	        </div>
	        <div class="footer-qr pull-right">
	            <h4>产品与服务</h4>
	            <div style="margin: 0">
	                <img src="../../images/code_0000.png" alt="APP">
	                <p>APP</p>
	            </div>
	            <div>
	                <img src="../../images/code_0000.png" alt="最新项目信息">
	                <p>最新项目信息</p>
	            </div>
	            <div>
	                <img src="../../images/code_0000.png" alt="微信公众号">
	                <p>微信公众号</p>
	            </div>
	        </div>
	    </div>
	</div>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/task_common.js"></script>
  	
  	
  </body>
</html>