<!DOCTYPE HTML>
<html>
  <head>
    <title>修改技能</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/mySelf.css">
  </head>
  
 <body>
 	<div class="container-fluid popup">
 		<form class="form-horizontal mt40">
            <div class="form-group">
                <label class="col-xs-4 control-label">技能：</label>
                <div class="col-xs-6">
                     <select class="form-control">
                        <option value="">前端</option>
                        <option value="">后端</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label"></label>
                <div class="col-xs-6">
                     <select class="form-control">
                        <option value="">html</option>
                        <option value="">css</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">掌握程度：</label>
                <div class="col-xs-6">
                     <select class="form-control">
                        <option value="">初级</option>
                        <option value="">精通</option>
                    </select>
                </div>
            </div>
        </form>
 	</div>
 	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/task_common.js"></script>
</body>
</html>