<!DOCTYPE HTML>
<html>
  <head>
    <title>修改个人信息</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/mySelf.css">
  </head>
  
 <body>
 	<div class="container-fluid popup">
        <form class="form-horizontal mt40">
            <div class="form-group">
                <label class="col-xs-4 control-label">昵称：</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">性别：</label>
                <div class="col-xs-1">
                    <label class="radio-inline">
                        <input type="radio" name="sex"  value="1" > 男
                    </label>
                </div>
                <div class="col-xs-1">
                    <label class="radio-inline">
                        <input type="radio" name="sex"  value="2"> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">职业：</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">工作经验：</label>
                <div class="col-xs-6">
                    <select class="form-control">
                        <option value="">一年及以下</option>
                        <option value="">两年</option>
                    </select>
                </div>
            </div>
             <div class="form-group">
                <label class="col-xs-4 control-label">所在城市：</label>
                <div class="col-xs-2">
                    <select class="form-control">
                        <option value="">省</option>
                        <option value="">北京</option>
                    </select> 
                </div>
                <div class="col-xs-2">
                    <select class="form-control">
                        <option value="">市</option>
                        <option value="">北京市</option>
                    </select> 
                </div>
                <div class="col-xs-2">
                    <select class="form-control">
                        <option value="">县区</option>
                        <option value="">东城区</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/task_common.js"></script>
 </body>
 </html>