<!DOCTYPE HTML>
<html>
  <head>
    <title>找回密码-重置密码</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/mySelf.css">
  </head>
  
 <body class="bg-grey">
	<header class="reg-head">
		<div class="width1000 clearfix">
			<a class="reg-logo" href="/" target="_blank"></a>
			<div class="reg-login">
				<span>已有账号，</span>
				<a href="login.html" target="_blank">立即登录</a>
			</div>
		</div>
	</header>
    <div class="reg-content">
        <div class="reg-bg1">
            <span></span><i></i>
        </div>
        <div class="reg-bg2">
            <span></span><i></i>
        </div>
        <h3 class="fP-tit">找回密码</h3>
        <ul class="fP-stepNav clearfix">
            <li>
                <span>1</span>
                <p>确认账号</p>
                <div class="spot">
                    <i></i><i></i><i></i>
                </div>
            </li>
            <li>
                <span>2</span>
                <p>安全验证</p>
                <div class="spot">
                    <i></i><i></i><i></i>
                </div>
            </li>
            <li>
                <span>3</span>
                <p>重置密码</p>
                <div class="spot">
                    <i></i><i></i><i></i>
                </div>
            </li>
            <li class="on">
                <span>4</span>
                <p>完成</p>
            </li>
        </ul>
        <div class="fP-step">
            <div class="fP-res-tit">
                <i class="glyphicon glyphicon-ok-circle"></i>
                恭喜您，重置密码成功！
            </div>
            <div class="fP-res-tit">
                <i class="glyphicon glyphicon-remove-circle"></i>
                出错了，重置密码失败！
            </div>
            <div class="text-center mt40">
                <button type="button" class="btn f-btn-primary">去登录</button>
            </div>
        </div>
    </div>
    <script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/task_common.js"></script>
</body>
</html>