<!DOCTYPE HTML>
<html>
  <head>
    <title>欢迎注册</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/mySelf.css">
  </head>
  
 <body class="bg-grey">
	<header class="reg-head">
        <div class="width1000 clearfix">
            <a class="reg-logo" href="/" target="_blank"></a>
            <div class="reg-login">
                <span>已有账号，</span>
                <a href="/login" target="_blank">立即登录</a>
            </div>
        </div>
    </header>
    <div class="reg-content">
    	<div class="reg-bg1">
    		<span></span><i></i>
    	</div>
    	<div class="reg-bg2">
    		<span></span><i></i>
    	</div>
    	<div class="reg-main">
		    <div class="reg-desc">
		        <h3>欢迎注册</h3>
		    </div>
		    <div class="rR-box">
	            <div class="fP-res-tit">
	                <i class="glyphicon glyphicon-ok-circle mr0"></i>
	                <div class="mt40">恭喜您，注册成功！</div>
	            </div>
	            <div class="text-center mt40">
	                <button type="button" class="btn f-btn-primary">去登录</button>
	            </div>
	            <div class="fP-res-tit">
	                <i class="glyphicon glyphicon-remove-circle mr0"></i>
	                <div class="mt40">出错了，注册失败！</div>
	            </div>
	            <div class="text-center mt40">
	                <button type="button" class="btn f-btn-primary">重新注册</button>
	            </div>
	        </div>
		</div>
    </div>
  	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/task_common.js"></script>
  </body>
</html>
