<!DOCTYPE HTML>
<html>
  <head>
    <title>意见反馈</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/mySelf.css">
  </head>
  
 <body>
 	<div class="index-header-bar">
		<div class="bar-box clearfix">
			<i class="arrow"></i>
			<div class="pull-left">
				任务分解平台网站 | 靠谱的平台 
			</div>
			<div class="pull-right mr20">
				<span class="pull-left">欢迎您，</span>
				<div id="noLogin" class="pull-left">	
					<a class="blue mr10" href="../loginRegister/login.html">请登录</a>
					<a class="orange" href="../loginRegister/register.html">免费注册</a>	
				</div>
				<div id="logined" class="pull-left">	
					<div class="index-header-uname">用户名username<i class="glyphicon glyphicon-chevron-down ml10"></i></div>
					<ul class="user-drop">
						<li>
							<a href="../userCenter/userBasicInfo.html"><i class="glyphicon glyphicon-user mr10"></i>个人中心</a>
						</li>
						<li>
							<a href="../financialCenter/cardManage.html"><i class="glyphicon glyphicon-yen mr10"></i>财务中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-bullhorn mr10"></i>推广中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-tasks mr10"></i>任务中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-log-out mr10"></i>退出登录</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="index-header">
		<div class="i-main clearfix">
			<img src="../../images/login_logo.png">
			<div class="i-search">
				<input class="" type="text" placeholder="搜索项目任务，输入关键字">
				<button  type="button" ><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>
	<div class="index-header-nav clearfix">
		<div class="nav-box">
			<i class="arrow"></i>
			<ul class="ih-nav clearfix">
				<li class="active">
					<a href="../index.html">主页</a>
				</li>
				<li>
					<a href="../projectCenter/projectList.html">项目大厅</a>
				</li>
				<li>
					<a href="../system/newsCenter.html">资讯中心</a>
				</li>
				<li>
					<a href="#">帮助中心</a>
				</li>
				<li>
					<a href="#">关于我们</a>
				</li>
			</ul>
		</div>
	</div>
 	<div class="feedback-banner">
 		<img src="../../images/feedback_banner.jpg">
 		<h3>意见反馈</h3>
 	</div>
 	<div class="feedback-con">
 		<div class="main">
 			<div class="f-c-tit">您有任何意见和建议，或使用中遇到的问题，请在本页面反馈。 我们会每天关注并不断优化，为您提供更好的服务！我们非常乐意收到您使用网站过程中的感受和意见！</div>
 			<div class="form-group">
              <label>反馈内容</label><span class="text-grey">（500字以内）</span>
              <textarea class="form-control resize-none" rows="7" placeholder="您的反馈..."></textarea>
            </div>
            <div class="form-group">
            	<label>联系邮箱／电话</label>
            	<div class="row">
            		<div class="col-xs-12">
            			<input class="form-control" type="text" placeholder="留下你的联系方式，我会第一时间回复你，期待和你的对话">
            		</div>
            	</div>
            	
            	
            </div>
            <div class="text-center mt40">
                <button class="btn f-btn-primary" type="submit" role="button">提交</button>
              </div>
 		</div>
 	</div>
 	<!-- 底部 -->
	<div class="footer">
	    <div class="footer-wrapper clearfix">
	        <div class="logo_and_copyright pull-left">
	            <img src="../../images/login_logo.png">
	            <p>任务分解平台版权所有 2004-2017</p>
	            <p>陕ICP备13002508号-6</p>
	            <p>陕网文[2015]1800-016号</p>
	        </div>
	        <div class="footerlinks pull-left">
	            <h4>帮助中心</h4>
	            <ul>
	                <li><a href="#" target="_blank">平台简介</a></li>
	                <li><a href="#" target="_blank">安全保障</a></li>
	                <li><a href="#" target="_blank">项目管理</a></li>
	            </ul>
	        </div>
	        <div class="footerlinks pull-left">
	            <h4>联系我们</h4>
	            <ul>
	                <li>电话：</li>
	                <li>邮箱：</li>
	                <li>地址：陕西省西安市高新区唐延南路10号中兴产业园I座3层</li>
	            </ul>
	        </div>
	        <div class="footer-qr pull-right">
	            <h4>产品与服务</h4>
	            <div style="margin: 0">
	                <img src="../../images/code_0000.png" alt="APP">
	                <p>APP</p>
	            </div>
	            <div>
	                <img src="../../images/code_0000.png" alt="最新项目信息">
	                <p>最新项目信息</p>
	            </div>
	            <div>
	                <img src="../../images/code_0000.png" alt="微信公众号">
	                <p>微信公众号</p>
	            </div>
	        </div>
	    </div>
	</div>
 	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/task_common.js"></script>
 </body>
 </html>