<!DOCTYPE HTML>
<html>
  <head>
    <title>资讯详情</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/mySelf.css">
  </head>
  
 <body>
 	 <div class="index-header-bar">
		<div class="bar-box clearfix">
			<i class="arrow"></i>
			<div class="pull-left">
				任务分解平台网站 | 靠谱的平台 
			</div>
			<div class="pull-right mr20">
				<span class="pull-left">欢迎您，</span>
				<div id="noLogin" class="pull-left">	
					<a class="blue mr10" href="../loginRegister/login.html">请登录</a>
					<a class="orange" href="../loginRegister/register.html">免费注册</a>	
				</div>
				<div id="logined" class="pull-left">	
					<div class="index-header-uname">用户名username<i class="glyphicon glyphicon-chevron-down ml10"></i></div>
					<ul class="user-drop">
						<li>
							<a href="../userCenter/userBasicInfo.html"><i class="glyphicon glyphicon-user mr10"></i>个人中心</a>
						</li>
						<li>
							<a href="../financialCenter/cardManage.html"><i class="glyphicon glyphicon-yen mr10"></i>财务中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-bullhorn mr10"></i>推广中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-tasks mr10"></i>任务中心</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-log-out mr10"></i>退出登录</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="index-header">
		<div class="i-main clearfix">
			<img src="../../images/login_logo.png">
			<div class="i-search">
				<input class="" type="text" placeholder="搜索项目任务，输入关键字">
				<button  type="button" ><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
	</div>
	<div class="index-header-nav clearfix">
		<div class="nav-box">
			<i class="arrow"></i>
			<ul class="ih-nav clearfix">
				<li>
					<a href="../index.html">主页</a>
				</li>
				<li>
					<a href="../projectCenter/projectList.html">项目大厅</a>
				</li>
				<li class="active">
					<a href="../system/newsCenter.html">资讯中心</a>
				</li>
				<li>
					<a href="#">帮助中心</a>
				</li>
				<li>
					<a href="#">关于我们</a>
				</li>
			</ul>
		</div>
	</div>
 	<div class="newsDetail-banner">
 		<img src="../../images/newsDetail_banner.jpg">
 	</div>
 	<div class="newsC-con">	
 		<ol class="breadcrumb">
		  <li><a href="#">首页</a></li>
		  <li><a href="#">资讯中心</a></li>
		  <li class="active">资讯详情</li>
		</ol>
		<div class="newsD-con">
			<h3 class="text-center">我们平台上线了</h3>
			<div  class="newsD-time">2017-11-18 16:31:31</div>
			<div class="newsD-con">
				<p>这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本</p>
				<p><img src="../../images/index_banner_02.jpg"></p>
				<p>这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本</p>
				<p>这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本这是一段长文本</p>
			</div>
		</div>
 	</div>

 	<!-- 底部 -->
	<div class="footer">
	    <div class="footer-wrapper clearfix">
	        <div class="logo_and_copyright pull-left">
	            <img src="../../images/login_logo.png">
	            <p>任务分解平台版权所有 2004-2017</p>
	            <p>陕ICP备13002508号-6</p>
	            <p>陕网文[2015]1800-016号</p>
	        </div>
	        <div class="footerlinks pull-left">
	            <h4>帮助中心</h4>
	            <ul>
	                <li><a href="#" target="_blank">平台简介</a></li>
	                <li><a href="#" target="_blank">安全保障</a></li>
	                <li><a href="#" target="_blank">项目管理</a></li>
	            </ul>
	        </div>
	        <div class="footerlinks pull-left">
	            <h4>联系我们</h4>
	            <ul>
	                <li>电话：</li>
	                <li>邮箱：</li>
	                <li>地址：陕西省西安市高新区唐延南路10号中兴产业园I座3层</li>
	            </ul>
	        </div>
	        <div class="footer-qr pull-right">
	            <h4>产品与服务</h4>
	            <div style="margin: 0">
	                <img src="../../images/code_0000.png" alt="APP">
	                <p>APP</p>
	            </div>
	            <div>
	                <img src="../../images/code_0000.png" alt="最新项目信息">
	                <p>最新项目信息</p>
	            </div>
	            <div>
	                <img src="../../images/code_0000.png" alt="微信公众号">
	                <p>微信公众号</p>
	            </div>
	        </div>
	    </div>
	</div>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/task_common.js"></script>
 </body>
 </html>